<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <section ng-view></section>
  <script type="text/javascript">
    window.user = <%- user || 'null' %>
  </script>
  <!-- Load Angular and its dependencies -->
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

  <!-- Load the staticPages module -->
  <script type="text/javascript" src="/staticpages/staticpages.client.module.js"></script>
  <script type="text/javascript" src="/staticpages/controllers/staticpages.client.controller.js"></script>
  <script type="text/javascript" src="/staticpages/config/staticpages.client.routes.js"></script>

  <!-- Load the articles module -->
  <script type="text/javascript" src="/articles/articles.client.module.js"></script>
  <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
  <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
  <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>
  
  <!-- Load the users module -->
  <script type="text/javascript" src="/users/users.client.module.js"></script>
  <script type="text/javascript" src="/users/config/users.client.routes.js"></script>
  <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
  <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
  
  <!-- Load the main application module -->
  <script type="text/javascript" src="/application.js"></script>
</body>
</html>